@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body{
    text-align: center;
    background-color: #1B3152;
    font-family: monospace;
}

h1{
    color: white;
}

.input{
    width: 450px;
    height: 50px;
    margin: 5px 0 25px 0;
    padding: 0 20px 0 20;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: white;
    font-size: 18px;
}

.boton-agregar{
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 10px;
    background-color: rgb(255, 6, 46);
    color: white;
}

.boton-agregar:hover{
    opacity: 0.9;
}

.item-input {
    width: 300px;
    height: 32px;
    margin: 7px;
    padding: 0 20px 10px 20px;
    border: solid white 1px;
    outline: none;
    border-radius: 10px;
    background:none;
    font-size: 18px;
    color: white;
}


.boton-editar{
    margin: 0 5px 0 5px;
    border:none;
    background: none;
    color: #62D0FF;
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;

}

.boton-remover{
    width: 50px;
    height: 50px;
    margin: 0 5px 0 5px;
    border: none;
    background: rgb(255, 6, 46);
    border-radius: 10px;
    color: rgb(255, 255, 255);
    font-size: 20px;
}